<%-include('templates/head')%>
<script src = "./js/battleship.js" ></script>
<link rel="stylesheet" href="./css/battleship.css">
</head>

    <body>
        <%-include('templates/header')%>
        <%-include('templates/gameMenu')%>
        <div id="game">
            <button id='boton' > Turno </button>
        </div>
    </body>

    


    </html>