<%-include('templates/head')%>


</head>

    <body>
        <%-include('templates/header')%>
        <%-include('templates/gameMenu')%>
        <div id="game">
            <button onclick ="fetchTurn()" id='move-button' > Turno </button>
        </div>
    </body>
    


    </html>